@model appMishiEnvios.Models.Envio

<h2>Eliminar Envío</h2>

<p>¿Seguro que deseas eliminar este envío?</p>

<form asp-action="DeleteConfirmed" method="post">

    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Eliminar</button>

    <a asp-action="Index">Cancelar</a>

</form>